<div class="wrapper">
  <h2>MEAN File Upload</h2>

  <div class="file-upload">
    <input type="file" name="file" ng2FileSelect [uploader]="uploader" accept="strings" />
    <button type="button" (click)="onAddPost()" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      Upload
    </button>
  </div>

  <div *ngIf="expression">
    <div>
        <a target="_blank" href="./api/fetchPostsJson">Get the collection in JSON format.</a>
    </div>
    <div>
        <a target="_blank" href="./api/fetchPostsStrings">Get the collection in .strings format.</a>
    </div>
  </div>

</div>
